/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Mina&family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu_items_color{
    color: brown !important;
}
.custom_padding{
    padding: 10px 0 !important;
}
.slider_bg {
    background: #fceae8;
}
.megenta_color{
    color: #dc3545 !important;
}
.buy_now_btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: #dc3545;
    border: none;
    color: #fff;
}
.catagory_watch{
    background: orange !important;
}
.catagory_shoe{
    background: blue;
    
}
.catagory_bag{
    background: orchid;

}
.products_section_style{
    background: orangered !important;
    border-radius: 15px;
}
.product_style{
    border-radius: 25px;
}
.custom_input{
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid blue !important;
}
